@using PetitesPuces.Models

<div class="tab-content">
    <h2>Éléments supprimés</h2>
    <div class="tab-pane fade in active" id="home">
        <div class="list-group">
            @foreach (PPMessage message in Model)
            {
                @Html.Partial("Courriel/_CourrielInbox",message)
            }
        </div>
    </div>
</div>