@model Tuple<List<PetitesPuces.Models.PPVendeur>, bool>

<table class="table lst-utils bg-light">
    <tr>
        <th scope="col">No Vendeur</th>
        <th scope="col" class="text-left">Nom d'affaires</th>
        <th scope="col" class="text-left">Adresse Courriel</th>
        <th scope="col" class="text-left">Prénom</th>
        <th scope="col" class="text-left">Nom</th>
        <td></td>
    </tr>
    @foreach (var vendeur in  Model.Item1)
    {
        @Html.Partial("Gestionnaire/Inactivite/_Vendeur", Tuple.Create(vendeur, @Model.Item2))
    }
</table>