body {
}

.rowHead {
    width: 130px;
    text-align: left;
}

.tableau {
    overflow-y: auto;
    max-height: 190px;
}

th {
    width: 145px;
}

.prixQuantite{
    text-align:right;
}

td {
    width: 145px;
}