@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


@section scripts {
    @RenderSection("scripts", false);
}

@section navbar {
    <li>@Html.ActionLink("Connexion", "Index", "Connexion")</li>
}

@RenderBody()

@section styles {
    @RenderSection("styles", false);
}