@model List<PetitesPuces.Models.PPVendeur>

<table class="table w-100 bg-light mt-2">
    <thead>
        <tr>
            <th>
                No vendeur
            </th>
            <th>
                Nom d'affaires
            </th>
            <th>
                Courriel
            </th>
            <th>
                Prénom
            </th>
            <th>
                Nom
            </th>
            <th>
                Redevances
            </th>
            <th>
    
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vendeur in @Model)
        {
            @Html.Partial("Gestionnaire/Redevances/_VendeurRedevance", vendeur)
        }
    </tbody>
</table>