@model List<PetitesPuces.ViewModels.Gestionnaire.Redevance>

<table class="table bg-light">
    <tr class="v-align-middle">
        <th>
            No du vendeur
        </th>
        <th>
            Nom du vendeur
        </th>
        <th class="text-right">
            Solde
        </th>
        <th class="text-right">
            Part de redevances
        </th>
        <th></th>
    </tr>
    @foreach (var redevance in @Model)
    {
        if (redevance.Solde > 0)
        {
            @Html.Partial("Gestionnaire/Redevances/_Redevance", redevance)
        }
    }
</table>