
<div class="tab-content">
    <h2>Brouillons</h2>
    <div class="tab-pane fade in active" id="home">
        <div class="list-group">
            <a href="#" class="list-group-item">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">
                    </label>
                    <span class="name" style="min-width: 120px; display: inline-block;">Jane Patel</span>
                    <span class="">Objet</span>

                    <span class="pull-right">
                        <span class="glyphicon glyphicon-paperclip"></span>
                        <span class="badge">11:30 PM</span>
                    </span>
                </div>
            </a>

            <a href="#" class="list-group-item">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">
                    </label>
                    <span class="name" style="min-width: 120px; display: inline-block;">Jane Patel</span>
                    <span class="">Objet</span>

                    <span class="pull-right">
                        <span class="glyphicon glyphicon-paperclip"></span>
                        <span class="badge">11:30 PM</span>
                    </span>
                </div>
            </a>

            <a href="#" class="list-group-item">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">
                    </label>
                    <span class="name" style="min-width: 120px; display: inline-block;">Jane Patel</span>
                    <span class="">Objet</span>

                    <span class="pull-right">
                        <span class="glyphicon glyphicon-paperclip"></span>
                        <span class="badge">11:30 PM</span>
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>