@using System.Globalization
@using PetitesPuces.Utilities
@model PetitesPuces.Models.Product

<div class="col-xs-12 col-sm-3 col-md-3"> 
    <div class="panel panel-primary">
        <div class="panel-footer">@Model.Name</div>
        <div class="panel-body">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width: 100%" alt="Image">
            <div class="h3">
                @Formatter.Money(@Model.Price)
            </div>
            <h3><span class="label label-warning">New</span></h3>
        </div>
        <div class="panel-footer">@Model.Id</div>
    </div>
</div>