@using System.Globalization
@using PetitesPuces.Utilities
@model PetitesPuces.Models.PPVendeur

<div id="@("Vendeur" + @Model.NoVendeur)" class="item div_hover">
    <div style="max-height: 130px; min-height: 130px; background-color: #3498db; color: white;">    
        <div style="max-height: 15vh; min-height: 15vh;">
            <p style="line-height: 2.0;">@Model.NomAffaires</p>
            <hr/>
            <p>Nb d'items : @Model.PPProduits.Count </p>
        </div>
    </div>
</div>
