@using PetitesPuces.Utilities
@model PetitesPuces.Models.Panier

@{
    ViewBag.Title = "Commander";
    decimal SousTotal = Model.getPrixTotal();
    ViewBag.FraisLivraison = 25.00;
}

@section scripts {
    <link href="@Url.Content("/Content/Client/Commande.css")" rel="stylesheet" id="Commande-css">
    <script type="text/javascript" src="@Url.Content("/Scripts/Client/Commande.js")"></script>
}
<div id="ConfirmationPLACEHOLDER">
    <br/>
    <br/>
    <br/>
        <div class="container">
            <ul class="progressbar">
                <li id="Information">Information</li>
                <li id="Livraison">Livraison</li>
                <li id="Paiement">Paiement</li>
                <li id="Confirmation">Confirmation</li>
            </ul>
        </div>
    <br/>
    <hr/>
    <br/>
    
    <div class="container" id="PLACEHOLDER">

    </div>
</div>
<script>
    window.onload = function() {
        $('#Information').addClass('active');
        $.ajax({
            url: "/Client/Information",
            type: "get",
            data: {
                noVendeur: @Model.Vendeur.NoVendeur
            },
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
                $('#PLACEHOLDER').html("@Html.Partial("_ErrorAlert")");
            }
        });
    };
</script>