
@{
    ViewBag.Title = "Index";
}
<hr>
<div class="container">
    
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center well">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Modification du MDP</h2>
                            <sm>Le nouveau MDP ne doit pas être identique qu'avant</sm>
                            <div class="panel-body">

                                <form class="form">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-edit color-blue"></i></span>

                                                <input id="emailInput" placeholder="Ancien mot de passe" class="form-control" type="password" oninvalid="setCustomValidity('Ce mot de passe ne coresponds pas!')"  required="">
                                                <input id="emailInput" placeholder="Nouveau mot de passe" class="form-control" type="password" oninvalid="setCustomValidity('Vous devez rentrez un mot de passe !')"  required="">
                                                <input id="emailInput" placeholder="Confirmer le nouveau mot de passe" class="form-control" type="password" oninvalid="setCustomValidity('Veuillez rentrer un mot de passe identique!')" required="">
                                             </div>
                                        </div>
                                        <div class="form-group">
                                            <input class="btn btn-lg btn-primary btn-block center-block" value="Modifier" type="submit">
                                        </div>
                                    </fieldset>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
</div>
