@model string


<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <h1>Confirmation de votre commande</h1>
        <h5>Votre commande a été passé avec succès</h5>
    </div>
</div>