@model PetitesPuces.Models.PPCommande


<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <h1>Détails finals de la commande</h1>
        </div>
        <div class="col-lg-3">
            <div class="btn-group">
                <a id="btnPrint" type="button" onclick="window.open('@Url.Action("InfoCommande", "PDF", new { id = Model.NoCommande })')" hidden class="btn btn-link btn-lg"><span class="glyphicon glyphicon-file"></span></a>
            </div>
        </div>
    </div>
    <br />
    @Html.Partial("Vendeur/_RecuCommande", Model)
</div>


<script>
    $(function () {
        $.ajax({
            url: URLPATH +"/PDF/GenererPDF",
            type: "get",
            data: {
                "id" : @Model.NoCommande
            },
            success: function (result) {
                console.log(result);
                $("#btnPrint").show();
            },
            error: function (req, status, err) {
                $("#PLACEHOLDERModalDescription").html(" @Html.Partial("_ErrorAlert")");
            }
        });
    });

    var specialElementHandlers = {
        '#receipt': function (element, renderer) {
            return true;
        }
    };
</script>