@model PetitesPuces.Models.Panier
<tr>
    <td>@Model.NomClient</td>
    <td>@Model.DateCreation</td>
    <td>@Model.NbItems</td>
    <td>
        <button type="button" title="Visualiser" class="btn btn-default">
            <span class="glyphicon glyphicon-info-sign"></span>
        </button>
        <button type="button" title="Supprimer" class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </td>
</tr>