@model PetitesPuces.Models.Panier
<tr class="v-align-middle" style="height: 51px">
    <td class="text-left">@Model.NomClient</td>
    <td class="text-left">@Model.DateCreation</td>
    <td class="text-left">@Model.NbItems</td>
    <td></td>
    <td class="text-right">
        @if (Model.DateCreation <= DateTime.Today.AddMonths(-6))
        {
            <button class="btn btn-danger" title="Supprimer">
                <i class="glyphicon glyphicon-remove v-align-middle"></i>
            </button>
        }
    </td>
</tr>