@model PetitesPuces.Models.Produit
<tr style="height: 51px">
    <td class="text-left">@Model.Id</td>
    <td class="text-left">@Model.Name</td>
    <td class="text-left">@Model.Price</td>
    <td class="text-right">
        <button class="btn btn-danger" title="Supprimer">
            <i class="glyphicon glyphicon-remove v-align-middle"></i>
        </button>
    </td>
</tr>