@model PetitesPuces.Models.PPProduit
@using PetitesPuces.Utilities
<tr style="height: 51px">
    <td class="text-left">@Model.NoProduit</td>
    <td class="text-left">@Model.Nom</td>
    <td class="text-left">@Formatter.Money(Model.PrixVente)</td>
    <td class="text-right">
        <button class="btn btn-danger" title="Supprimer">
            <i class="glyphicon glyphicon-remove v-align-middle"></i>
        </button>
    </td>
</tr>