@{
    ViewBag.Title = "DemandesVendeur";
}

@section navbar {
    <li>@Html.ActionLink("Accueil", "Index", "Gestionnaire")</li>
    <li>@Html.ActionLink("Utilisateurs inactifs", "Inactivite", "Gestionnaire")</li>
    <li>@Html.ActionLink("Redevances des vendeurs", "Redevances", "Gestionnaire")</li>
    <li>@Html.ActionLink("Statistiques et rapports", "Statistiques", "Gestionnaire")</li>
}

<h2>DemandesVendeur</h2>

