@using System.Security.Policy
@model List<PetitesPuces.Models.PPVendeur>

@{
    ViewBag.Title = "DemandesVendeur";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/Gestionnaire/DemandesVendeur.css" />
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/Gestionnaire/DemandeVendeur.js")"></script>
}

<h2 class="text-center">Demandes d'inscription en tant que vendeur</h2>

<div id="demandes">
    @Html.Partial("Gestionnaire/Demandes/_ListeDemandesVendeur", @Model)
</div>

<div class="modal fade" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="contenuDetails" class="modal-content">

        </div>
    </div>
</div>
