@using System.Web.Mvc.Html
@model PetitesPuces.ViewModels.Gestionnaire.InactiviteViewModel
@{
    ViewBag.Title = "Inactivite - Gestionnaire";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Gestionnaire/Inactivite.css")" />
}

<h2 class="text-center">Gestion des comptes inactifs</h2><br />

<h3 class="text-center">Clients Inactifs</h3>

<div class="well text-center col-xs-10 col-xs-offset-1">
    <div class="btn-toolbar d-flex justify-content-center align-items-baseline center-block" data-toggle="buttons" role="group">
        <strong class="text-bold mx-1">Inactif depuis:</strong>
        <div class="btn-group d-flex align-items-baseline">
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisClient" value="1m" autocomplete="off" /> 1
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisClient" value="2m" autocomplete="off" /> 2
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisClient" value="3m" autocomplete="off" /> 3
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisClient" value="6m" autocomplete="off" /> 6
            </label>
            <strong class="mx-1">Mois</strong>
        </div>
        <div class="btn-group d-flex align-items-baseline">
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisClient" value="1y" autocomplete="off" /> 1
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisClient" value="2y" autocomplete="off" /> 2
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisClient" value="3y" autocomplete="off" /> 3
            </label>
            <strong class="mx-1">Ans</strong>
        </div>
        <div class="btn-group d-flex align-items-baseline">
            <label type="button" class="btn btn-default active" >
                <input type="radio" name="depuisClient" value="T" autocomplete="off" checked/> Toujours
            </label>
        </div>
    </div>
    <table class="table lst-utils bg-light">
        <tr>
            <th scope="col" class="text-left">
                No Client
            </th>
            <th scope="col">
                Adresse Courriel
            </th>
            <th scope="col">
                Prénom
            </th>
            <th scope="col">
                Nom
            </th>
            <th scope="col">
                Date dernière activité
            </th>
        </tr>
        @foreach (var client in Model.ClientsInactifs)
        {
            @Html.Partial("Gestionnaire/Inactivite/_Client", Tuple.Create(client, false));
        }
    </table>
    <button class="btn btn-danger btn-large center-block">Supprimer les clients inactifs visibles</button>
</div>

<h3 class="text-center col-xs-12">Vendeurs Inactifs</h3>
<div class="well text-center col-xs-10 col-xs-offset-1">
    <div class="btn-toolbar d-flex justify-content-center align-items-baseline center-block" data-toggle="buttons" role="group">
        <strong class="text-bold mx-1">Inactif depuis:</strong>
        <div class="btn-group d-flex align-items-baseline">
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisVendeur" value="1y" autocomplete="off" /> 1
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisVendeur" value="2y" autocomplete="off" /> 2
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="depuisVendeur" value="3y" autocomplete="off" /> 3
            </label>
            <strong class="mx-1">Ans</strong>
        </div>
        <div class="btn-group d-flex align-items-baseline">
            <label type="button" class="btn btn-default active">
                <input type="radio" name="depuisVendeur" value="T" autocomplete="off" checked/> Toujours
            </label>
        </div>
    </div>
    <table class="table lst-utils mt-2 bg-light">
        <tr>
            <th scope="col" class="text-left">
                No Client
            </th>
            <th scope="col">
                Nom d'affaires
            </th>
            <th scope="col">
                Prénom
            </th>
            <th scope="col">
                Nom
            </th>
        </tr>
        @foreach (var vendeur in Model.VendeursInactifs)
        {
            @Html.Partial("Gestionnaire/Inactivite/_Vendeur", Tuple.Create(vendeur, false));
        }
    </table>
    <button class="btn btn-danger btn-large center-block">Supprimer les vendeurs inactifs visibles</button>
</div>

<h3 class="text-center col-xs-12">Rendre un utilisateur inactif</h3>

<div class="well text-center col-xs-10 col-xs-offset-1">
    <form class="form-inline">
        <div class="input-group">
            <input type="search" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search v-align-middle" aria-hidden="true">
                    </span>
                </button>    
            </span>
        </div>
        <div class="btn-group" data-toggle="buttons" role="group">
            <label type="button" class="btn btn-default">
                <input type="radio" name="critereInactivite" value="Vendeur" autocomplete="off" /> Vendeur
            </label>
            <label type="button" class="btn btn-default">
                <input type="radio" name="critereInactivite" value="Client" autocomplete="off" /> Client
            </label>
            <label type="button" class="btn btn-default active">
                <input type="radio" name="critereInactivite" value="Utilisateur" autocomplete="off" checked /> Tous
            </label>
        </div>
    </form>
    <div id="listeGestionInactivite">
        @Html.Partial("Gestionnaire/Inactivite/_ListeDisablePersonne", Tuple.Create(Model.UtilsRecherche, true));
    </div>
</div>

<script>
    $(document).ready(function() {
        const filtres = {};
        
        $('[name="critereInactivite"]').each(function() {
            $(this).change(deleteUserFilterChanged);
        });
        
        function deleteUserFilterChanged() {
            if (!$(this).prop('checked')) return;

            const selectedVal = $(this).val();

            $.get(`/Gestionnaire/Inactivite/Liste/${selectedVal}`, null, displayFilteredView);
        }
        
        function displayFilteredView(partial) {
            $('#listeGestionInactivite').html(partial);
        }
    });
</script>
