@{
    ViewBag.Title = "Inactivite - Gestionnaire";
}

<h2 class="text-center">Utilisateurs inactifs</h2>

<div class="jumbotron">
    <h3>Période</h3>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">

        </button>
    </div>
</div>

