@{
    ViewBag.Title = "Redevances - Gestionnaire";
}

@section navbar {
    <li>@Html.ActionLink("Accueil", "Index", "Gestionnaire")</li>
    <li>@Html.ActionLink("Demandes de vendeur", "DemandesVendeur", "Gestionnaire")</li>
    <li>@Html.ActionLink("Utilisateurs inactifs", "Inactivite", "Gestionnaire")</li>
    <li>@Html.ActionLink("Statistiques et rapports", "Statistiques", "Gestionnaire")</li>
}

<h2>Redevances</h2>

