@{
    ViewBag.Title = "Statistiques - Gestionnaire";
}

@section navbar {
    <li>@Html.ActionLink("Accueil", "Index", "Gestionnaire")</li>
    <li>@Html.ActionLink("Demandes de vendeur", "DemandesVendeur", "Gestionnaire")</li>
    <li>@Html.ActionLink("Utilisateurs inactifs", "Inactivite", "Gestionnaire")</li>
    <li>@Html.ActionLink("Redevances des vendeurs", "Redevances", "Gestionnaire")</li>
}

<h2>Statistiques</h2>

