@model PetitesPuces.ViewModels.Gestionnaire.StatsViewModel
@{
    ViewBag.Title = "Statistiques - Gestionnaire";
}

<h2>Statistiques</h2>

<h3>Nombre total de vendeurs: ##</h3>

<h3></h3>
<div>

</div>

<div>

</div>