@model List<PetitesPuces.Models.IPersonne>

<table class="table lst-utils">
    <tr>
        <th scope="col">Rôle</th>
        <th scope="col" class="text-left">Adresse Courriel</th>
        <th scope="col" class="text-left">Prénom</th>
        <th scope="col" class="text-left">Nom</th>
        <td></td>
    </tr>
    @foreach (var pers in Model)
    {
        <tr class="v-align-baseline">
            <th scope="row">@pers.Role</th>
            <td class="text-left">@pers.AdresseEmail</td>
            <td class="text-left">@pers.Prenom</td>
            <td class="text-left">@pers.Nom</td>
            <td>
                <button class="btn btn-warning v-align-middle">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                </button>
            </td>
        </tr>
    }
</table>
