@using PetitesPuces.Utilities
@model PetitesPuces.ViewModels.Gestionnaire.Redevance

<tr class="v-align-middle">
    <td class="text-left">@Model.Vendeur.NomAffaires</td>
    <td class="text-right">@Formatter.Money(Model.Solde)</td>
    <td class="text-right">@Model.Vendeur.Pourcentage%</td>
    <td class="text-left">@Model.EnSouffranceDepuis</td>
    <td>
        <button class="btn btn-success">
            Ajouter Paiement
        </button>
    </td>
</tr>
