@model PetitesPuces.Models.Vendeur

<tr>
    <th class="text-left">@Model.NoVendeur</th>
    <td class="text-left">@Model.NomAffaires</td>
    <td class="text-left">@Model.Prenom</td>
    <td class="text-left">@Model.Nom</td>
</tr>