@using System.Globalization
@using PetitesPuces.Utilities
@model PetitesPuces.Models.Panier

<div id="@("Panier")" class="item div_hover" style="cursor: pointer;" onclick="changePanier('w')">
    <div class="" style="background-color: skyblue;">    
        <div class="">
            <p>Vendeur : @Model.Vendeur.Nom</p>
            <hr/>
            <p>Nombre d'items :  @Model.Articles.Count</p>
        </div>
    </div>
</div>
