@using System.Globalization
@using PetitesPuces.Utilities
@model PetitesPuces.Models.Panier

<div id="@("Panier"+@Model.Vendeur.NoVendeur)" class="item div_hover" style="cursor: pointer;" onclick="changePanier(@Model.Vendeur.NoVendeur)">
    <div class="" style="background-color: skyblue;height: 15vh; max-height: 15vh;">    
        <div class="">
            <p>@Model.Vendeur.NomAffaires</p>
            <hr/>
            <p>@Model.Articles.Count items</p>
        </div>
    </div>
</div>
