@using Newtonsoft.Json
@model PetitesPuces.ViewModels.VerificationCourriel
@{
    ViewBag.Title = "Courriel Oubli mot de passe";
}


<div class="container">
    <div class="row">

        <form class="form" id="recuperationMDP">


            <h1>Titre: Réinitialisation de mot de passe</h1>
            <br/>
            <br/>
            <br/>
            <br/>
            <h4>De: <label class="text-info">L'équipe de petites puces.</label></h4><br/>
            <h4>À: <label class="text-info">@ViewBag.courrielOublie</label></h4><br/>
            <h5>
                Voici le lien pour que vous puissez réinitialiser le mot de passe.<br/>
            </h5>
            <h5>
                Veuillez clicker ce lien et entrez votre nouveau mot de passe.
            </h5>
            <br/>

            <div class="input-group">

                @Html.ActionLink("http://localhost.fsdafsadfads.sadfvzvzv.dsfdsafds/fdsafdsafds.fdsaf/", "modiOubliMDP")
            </div>


            <script>

            </script>
            <br/><br/>
            @Html.ActionLink("Retourner à la connexion", "Connexion")
        </form>
    </div>
</div>
