
@{
    ViewBag.Title = "Index";

}

@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/Home/Index.css")"/>
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/register.js")"></script>
}
<h2 class="text-center">Inscription Client</h2>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Se connecter</a>

                           
                        </div>
                        <div class="col-xs-6">

                            <a href="#" id="register-form-link">S'inscrire</a>

                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" method="post" role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" name="usernameLogin" id="usernameLogin" tabindex="1" class="form-control" placeholder="Nom d'utilisateur" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="passwordLogin" id="passwordLogin" tabindex="2" class="form-control" placeholder="Mot de passe">
                                </div>
                                <div class="form-group text-center">
                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                    <label for="remember"> Se souvenir de moi</label>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn-login" value="Se connecter">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a tabindex="5" class="forgot-password">Mot de passe oublié?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="register-form" method="post" role="form" style="display: none;" class="center-block">
                                <h3>S'inscrire en tant que client</h3>
                                <br />
                                <div class="form-group">
                                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Nom d'utilisateur" value="">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Adresse courriel" value="">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email2" id="email2" tabindex="1" class="form-control" placeholder="Confirmation courriel" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Mot de passe">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirmation de mot de passe">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn-register" value="S'inscrire maintenant">
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="text-center" id="register-form-vendeur-link">S'inscrire en tant que vendeur</a>
                                <button id="register-form-vendeur-link" class="btn btn-link"></button>
                            </form>
                            <form id="register-form-vendeur" method="post" role="form" style="display: none;" class="text-center">
                                <h3>S'inscrire en tant que vendeur</h3>
                                <br />
                                <div class="form-group">
                                    <input type="text" name="username" id="usernameVendeur" tabindex="1" class="form-control" placeholder="Nom d'utilisateur" value="">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="emailVendeur" tabindex="2" class="form-control" placeholder="Adresse courriel" value="">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email2Vendeur" id="email2Vendeur" tabindex="3" class="form-control" placeholder="Confirmation courriel" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="passwordVendeur" tabindex="4" class="form-control" placeholder="Mot de passe">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirm-password" id="confirm-passwordVendeur" tabindex="5" class="form-control" placeholder="Confirmation de mot de passe">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="PoidsMaxLivraison" id="PoidsMaxLivraison" tabindex="6" class="form-control" placeholder="Poids maximal permis pour une commande">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="LivraisonGraduite" id="LivraisonGraduite" tabindex="7" class="form-control" placeholder="Prix minimum pour recevoir une livraison graduite">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="taxe" id="taxe" checked tabindex="8">
                                    <label for="taxe"> Le client doit payer la TPS et la TVQ</label>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submitVendeur" tabindex="4" class="form-control btn-register" value="S'inscrire maintenant">
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="text-center" id="register-form-client-link">S'inscrire en tant que client</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
