@model string 

<div class="container">
    <h1>Information</h1>
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control"/>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control"/>
        </div>
    </div>
</div>