@using PetitesPuces.Utilities
@model string

<form>
    <div class="form-row">
        <div class="col-md-6 col-md-offset-3">
            <div class="radio">
                <label><input type="radio" name="optradio" checked>Poste régulière</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">Poste prioritaire</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">Compagnie de livraison</label>
            </div>
            <hr/>
            <div>
                <h4>Frais de livraison : @Formatter.Money(23.00)</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr/></div>
        <div class="col-md-4 col-lg-offset-5">
            <button type="button" class="btn btn-danger"onclick="previous()">Retour</button>
            <button type="button" class="btn btn-primary" onclick="next()">Continuer</button>
        </div>
    </div>
</form>
<script>
    function next(){
        $('#Livraison').removeClass('active');
        $('#Paiement').addClass('active');
        $.ajax({
            url: URLPATH + "/Client/Paiement",
            type: "get",
            data: {
            },
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
        var PARAMS = "?Etape="+"Paiement";
        history.pushState(null, "", PARAMS);
    }
    function previous(){
        $('#Livraison').removeClass('active');
        $('#Information').addClass('active');
        $.ajax({
            url: URLPATH + "/Client/Information",
            type: "get",
            data: {
                "NoClient":10100
            },
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
        var PARAMS = "?Etape="+"Information";
        history.pushState(null, "", PARAMS);
    }
</script>