@model PetitesPuces.Models.Panier
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="NoCarteCredit">No de carte</label>
            <input type="text" class="form-control" name="NoCarteCredit" id="NoCarteCredit" maxlength="19" placeholder="XXXX XXXX XXXX XXXX">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="DateExpirationCarteCredit">Expiration</label>
            <input type="text" class="form-control" name="DateExpirationCarteCredit" id="DateExpirationCarteCredit" placeholder="MM/AA">
        </div>
        <div class="form-group col-md-6">
            <label for="NoSecuriteCarteCredit">CVV</label>
            <input type="text" class="form-control" name="NoSecuriteCarteCredit" id="NoSecuriteCarteCredit" placeholder="XXX">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="error" class="alert alert-danger" hidden role="alert">
                Veuillez remplir tout les champs dans le bon format
            </div>
            <hr/>
        </div>
        <div class="col-md-4 col-lg-offset-5">
            <button type="button" class="btn btn-danger"onclick="previous()">Retour</button>
            <button type="button" class="btn btn-primary" onclick="envoyerInfo()">Continuer</button>
        </div>
    </div>
    
</form>
<script>
    function envoyerInfo(){
        var data = $("form").serialize();
        
        $.ajax({
            url: URLPATH + "/Client/SetInfoPaiement",
            type: "GET",
            data: data, 
            success: next,
            error: function(req, status, err) {
                $("#error").show();
                console.log(req, status, err);
            }
        });
    }
    function next(){
        $('#Confirmation').addClass('active');
        $.ajax({
            url: URLPATH + "/Client/Confirmation",
            type: "get",
            data: {
                "noVendeur":@Model.Vendeur.NoVendeur
            },
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
    function previous(){
        $('#Paiement').removeClass('active');
        $.ajax({
            url: URLPATH + "/Client/Livraison",
            type: "get",
            data: {
                "noVendeur":@Model.Vendeur.NoVendeur
            },
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
</script>