
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Nom sur la carte </label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Nom">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">No de carte</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="XXXX XXXX XXXX XXXX">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Expiration</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="MM/AA">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">CVV</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="XXX">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr/></div>
        <div class="col-md-4 col-lg-offset-5">
            <button type="button" class="btn btn-danger"onclick="previous()">Retour</button>
            <button type="button" class="btn btn-primary" onclick="next()">Continuer</button>
        </div>
    </div>
</form>
<script>
    function next(){
        $('#Paiement').removeClass('active');
        $('#Confirmation').addClass('active');
        $.ajax({
            url: URLPATH + "/Client/Confirmation",
            type: "get",
            data: {
            },
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
        var PARAMS = "?Etape="+"Confirmation";
        history.pushState(null, "", PARAMS);
    }
    function previous(){
        $('#Paiement').removeClass('active');
        $('#Livraison').addClass('active');
        $.ajax({
            url: URLPATH + "/Client/Livraison",
            type: "get",
            data: {
            },
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
        var PARAMS = "?Etape="+"Livraison";
        history.pushState(null, "", PARAMS);
    }
</script>