
@{
   ViewBag.Title = "Courriel";
}
@section styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
 
    <!-- Include Editor style. -->
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.2/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.2/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

}
@section scripts
{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.2/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/fr.js")"></script>
}
<style>
    .buttonCompose {
        background-color: brown;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .buttonCompose:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-10">
            <button type="button" class="btn btn-default pull-right" data-toggle="tooltip" title="Refresh">
                &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;&nbsp;
            </button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <a onclick="loadComposerMessage();" href="#" class="buttonCompose" title="Composer un nouveau message"><i class="glyphicon glyphicon-envelope"></i></a>
            <hr>
            <ul class="nav nav-pills nav-stacked nav-tabs">
                <li id="BoiteReception" class="active" onclick="loadBoiteReception();"><a href="#"><span class="glyphicon glyphicon-inbox"></span> Boîte de réception </a></li>
                <li id="Brouillons" onclick="loadBrouillons();"><a href="#"><span class="glyphicon glyphicon-pencil"></span> Brouillons</a></li>
                <li id="ElementsEnvoyes" onclick="loadElementsEnvoyes();"><a href="#"><span class="glyphicon glyphicon-send"></span> Éléments envoyés</a></li>
                <li id="ElementSupprimes" onclick="loadElementSupprimes();"><a href="#"><span class="glyphicon glyphicon-trash"></span> Éléments supprimés</a></li>
            </ul>
        </div>
        <div class="col-sm-8 col-md-9" style="min-height: 60vh" id="PLACEHOLDER">
            
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        loadBoiteReception();
    });
    function stopPropagation() {
        event.stopPropagation();
    }
    
    function loadCourriel(id) {
        $('.active').removeClass('active');
        $.ajax({
            url: URLPATH + "/Courriel/GetCourriel",
            type: "GET",
            data: {
                NoCourriel : id
            }, 
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
    function loadBoiteReception() {
        $('.active').removeClass('active');
        $('#BoiteReception').addClass('active');
        $.ajax({
            url: URLPATH + "/Courriel/BoiteReception",
            type: "GET",
            data: {
                
            }, 
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
    function loadBrouillons() {
        $('.active').removeClass('active');
        $('#Brouillons').addClass('active');
        $.ajax({
            url: URLPATH + "/Courriel/Brouillons",
            type: "GET",
            data: {
                
            }, 
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
    function loadElementsEnvoyes() {
        $('.active').removeClass('active');
        $('#ElementsEnvoyes').addClass('active');
        $.ajax({
            url: URLPATH + "/Courriel/ElementsEnvoyes",
            type: "GET",
            data: {
                
            }, 
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
    function loadElementSupprimes() {
        $('.active').removeClass('active');
        $('#ElementSupprimes').addClass('active');
        $.ajax({
            url: URLPATH + "/Courriel/ElementsSupprimes",
            type: "GET",
            data: {
                
            }, 
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
    function loadComposerMessage() {
        $('.active').removeClass('active');
        $.ajax({
            url: URLPATH + "/Courriel/ComposerMessage",
            type: "GET",
            data: {
                
            }, 
            success: function(result) {
                $('#PLACEHOLDER').html(result);
            },
            error: function(req, status, err) {
                console.log(req, status, err);
            }
        });
    }
</script>
<style>
    .nonLu {
        font-weight: bold;
        background-color: rgba(179, 178, 184, 0.25);
    }
</style>