@using PetitesPuces.Models
@model PetitesPuces.Models.PPProduit

@{
    BDPetitesPucesDataContext ctxt = new BDPetitesPucesDataContext();

    //toutes les evaluations
    List<PPEvaluation> evaluations = (from e in ctxt.PPEvaluations
        where e.NoProduit == Model.NoProduit
        select e).ToList();

    int nbEtoile = 0;
    if (evaluations.Count > 0)
    {
        decimal average = evaluations.Average(e => e.Cote_);
        nbEtoile = (int) Math.Round(average);
    }
}
<span id="rating">
    @for (int i = 1; i <= nbEtoile; i++)
    {
        <span class="glyphicon glyphicon-star"></span>
    }
    @for (int i = 1; i <= 5 - nbEtoile; i++)
    {
        <span class="glyphicon glyphicon-star-empty"></span>
    }
</span>

<div id="ratingTooltip">
    @Html.Partial("Client/Catalogue/_RatingTooltip",evaluations)
</div>

<script>
    //tooltip
    tippy('#rating', {
        animation: 'scale',
        duration: [400, 200],
        delay: [0,200],
        arrow: true,
        placement: "bottom",
        content: document.getElementById("ratingTooltip"),
        allowHTML: true,
        interactive: true,
        onMount: function() {
            $('.progress .progress-bar').css("width",
                function() {
                    return $(this).attr("aria-valuenow") + "%";
                }
            );
        },
        onHide: function() {
            $('.progress .progress-bar').css("width",
                function() {
                    return "0%";
                }
            );
        },
        size: "large",
        theme: "google"
    });
</script>