@model List<PetitesPuces.Models.PPProduit>

@{
    ViewBag.Title = "Gestion du catalogue";
}

<h2 class="text-center">@ViewBag.Title</h2>

<h3 class="text-center col-xs-12">Ajouter un produit</h3>

<div class="well text-center col-xs-10 col-xs-offset-1">
    <div class="row">
        <div class="col-sm-6 text-left">
            <span>Numéro</span>
            <input class="form-control" style="float: right" type="text" disabled value="@(Model.Last().NoProduit + 10)" />
        </div>
        <div class="col-sm-6 text-left">
            <span>Date de création</span>
            <input class="form-control" style="float: right" type="text" disabled value="@DateTime.Today" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-left">
            <span>Catégorie</span>
            <select class="form-control" style="float:right">
                <option id="cat1">Catégorie 1</option>
                <option id="cat2">Catégorie 2</option>
                <option id="cat3">Catégorie 3</option>
                <option id="cat4">Catégorie 4</option>
            </select>
        </div>
        <div class="col-sm-6 text-left">
            <span>Nombre d'item</span>
            <input class="form-control" style="float: right" type="number" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-left">
            <span>Nom</span>
            <input name="" class="form-control" style="float: right" type="text" />
        </div>
        <div class="col-sm-6 text-left">
            <span>Prix de vente</span>
            <input class="form-control" style="float: right" type="number" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-left">
            <span>Prix demandé</span>
            <input class="form-control" style="float: right" type="number" />
        </div>
        <div class="col-sm-6 text-left">
            <span>Date de vente</span>
            <input class="form-control" style="float: right" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-left">
            <span>Photo</span>
            <input class="form-control" style="float: right;" type="file" />
        </div>
        <div class="col-sm-6 text-left">
            <span>Poids</span>
            <input class="form-control" style="float: right;" type="number" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-left">
            <span>Description détaillée</span>
            <textarea class="form-control" style="float: right;" id="taDescription"></textarea>
        </div>
        <div class="col-sm-6 text-left">
            <span>Disponibilité</span>
            <input class="form-control" style="float: right; width:34px; margin-right:120px" type="checkbox" checked />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <button class="btn btn-outline-primary">Inscrire le produit</button>
        </div>
    </div>
</div>

<h3 class="text-center col-xs-12">Vos produits</h3>

<div class="well text-center col-xs-10 col-xs-offset-1">
    <table class="table lst-vendeurs mt-2">
        <tr>
            <th>
                No produit
            </th>
            <th>
                Nom du produit
            </th>
            <th>
                Prix unitaire
            </th>
            <th>

            </th>
        </tr>
        @foreach (var produit in Model)
        {
            @Html.Partial("Vendeur/_Produit", produit);
        }
    </table>
</div>
