@{
    ViewBag.Title = "Information sur la commande";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="well text-center col-xs-8 col-xs-offset-2">
    <div class="row">
        <div class="col-sm-6">
            <img width="450" src="~/images/carouselPublicite/puces.jpg" />
        </div>
        <div class="col-sm-6 text-right">
            <p>Commande #@ViewBag.No</p>
            <p>18/12/2018</p>
            <p>No d'autorisation 165314</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-left">
            <h3>Client</h3>
            <br />
            <h5>#315</h5>
            <h5>Antoine Brunet</h5>
            <h5>antoine.brunet@gmail.com</h5>
            <h5>(514) 624-9615</h5>
            <h5>(961) 158-6523</h5>
            <h5>5236 rue du cheval, Pierrefonds</h5>
            <h5>H9K 1S4, Québec, Canada</h5>
        </div>
        <div class="col-sm-6 text-left">
            <h3>Vendeur</h3>
            <br />
            <h5>#22</h5>
            <h5>Alain Abboud</h5>
            <h5>Pineapple inc.</h5>
            <h5>alain.abboud@gmail.com</h5>
            <h5>(514) 823-6542</h5>
            <h5>1500 rue McGill</h5>
            <h5>H9J 1K8, Québec, Canada</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Commande</h3>
            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix par unité</th>
                    <th>Prix total</th>
                </tr>
                <tr class="v-align-middle">
                    <th scope="row">2365</th>
                    <td class="text-left">Produit 1</td>
                    <td class="text-left">3</td>
                    <td class="text-left">10.00 $</td>
                    <td class="text-left">30.00 $</td>
                </tr>
                <tr class="v-align-middle">
                    <th scope="row">2355</th>
                    <td class="text-left">Produit 2</td>
                    <td class="text-left">2</td>
                    <td class="text-left">5.00 $</td>
                    <td class="text-left">10.00 $</td>
                </tr>
                <tr class="v-align-middle">
                    <th></th>
                    <td></td>
                    <td></td>
                    <th scope="row" class="text-right">Avant-total: </th>
                    <td class="text-left">40.00 $</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Livraison</h3>
            <table class="table table-hover">
                <tr>
                    <th>Type</th>
                    <th>Poids</th>
                    <th>Coût</th>
                </tr>
                <tr class="v-align-middle">
                    <th class="text-left">Express</th>
                    <td class="text-left">51.50 lbs</td>
                    <td class="text-left">50.00 $</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <h3>Total</h3>
            <table class="table table-hover">
                <tr class="v-align-middle">
                    <th scope="row">Avant-total + livraison</th>
                    <td class="text-left">90.00 $</td>
                </tr>
                <tr class="v-align-middle">
                    <th scope="row">TPS</th>
                    <td class="text-left">4.50 $</td>
                </tr>
                <tr class="v-align-middle">
                    <th scope="row">TVQ</th>
                    <td class="text-left">8.98 $</td>
                </tr>
                <tr class="v-align-middle">
                    <th scope="row">Grand total</th>
                    <th class="text-left">103.48 $</th>
                </tr>
            </table>
        </div>
    </div>
</div>