@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="jumbotron">
    <div class="container">
        <h1>Mon Profil</h1>
    </div>
</div>
<div class="container">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="">Nom d'affaires</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="">Mot de passe</label>
            <input type="password" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="">Prenom</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="">Nom</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Courriel</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Courriel">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Téléphone 1</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Telephone">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Adresse</label>
            <input type="text" disabled="disabled" class="form-control" id="inputEmail4" placeholder="Adresse">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Téléphone 2</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Telephone">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Ville</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Province</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputZip">Code Postal</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
    </div>
    <hr/>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="">Poids maximal de livraison</label>
            <input type="number"  min="0" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="">Taxes</label>
            <select class="form-control">
                <option>Oui</option>
                <option>Non</option>
            </select>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12"><hr/></div>
        <div class="col-md-4 col-lg-offset-5">
            <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Commande", "Client", new RouteValueDictionary(new {Etape = "Livraison"}))'">Confirmer les changements</button>
        </div>
    </div>
</div>

